<load-more>
  <template>
    <ul class="load-more__content load-more__content--pokemon">
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
      <li>
        {{render '@card--pokemon'}}
      </li>
    </ul>
  </template>
</load-more>